In [1]:
ls = ['apple', 'banana', 10, 22.5]
ls5 = ['a', 'b', [1,2,3], ('a', 'b')]
ls

['apple', 'banana', 10, 22.5]

In [2]:
ls.append(10)
ls

['apple', 'banana', 10, 22.5, 10]

In [3]:
tup = tuple(ls)
tup2 = (1,2,3,4,5)
tup = (1,) #(1) = integer
tup

(1,)

In [4]:
ls[0] = 1
ls

[1, 'banana', 10, 22.5, 10]

In [5]:
ls[:-2]

[1, 'banana', 10]