In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series()
print(s)

<ipython-input-2-893de6a9497a>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

Series([], dtype: float64)

In [3]:
data = np.array(['a','b','c','d']) 
s = pd.Series(data) #default indexing was used

print(data)
print('\n')
print(s)

['a' 'b' 'c' 'd']


0    a
1    b
2    c
3    d
dtype: object

In [4]:
s

0    a
1    b
2    c
3    d
dtype: object

In [6]:
print(s.index)
print(s.index.tolist())
print(list(s.index))

RangeIndex(start=0, stop=4, step=1)
[0, 1, 2, 3]
[0, 1, 2, 3]

In [7]:
s = pd.Series(data,index=['100','101','102','103'])

print(data)
print('\n')
print(s)

['a' 'b' 'c' 'd']


100    a
101    b
102    c
103    d
dtype: object

In [8]:
s = pd.Series(5, index=[0, 1, 2, 3, 4, 5, 23])#, dtype=float)
print(s)

0     5
1     5
2     5
3     5
4     5
5     5
23    5
dtype: int64

In [9]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)

print(data)
print('\n')
print(s)

{'a': 0.0, 'b': 1.0, 'c': 2.0}


a    0.0
b    1.0
c    2.0
dtype: float64

In [10]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data, index = ['a',1,2])

print(data)
print('\n')
print(s)

{'a': 0.0, 'b': 1.0, 'c': 2.0}


a    0.0
1    NaN
2    NaN
dtype: float64

In [11]:
s = pd.Series([1,2,3,4,5],index = ('a','f','b','q','c'))

print(s)
print('\n')

print('Forth element')
print(s[3])
print('\n')

print('Elements 3-5')
print(s[2:4])
print('\n')

print('The last 3 elements')
print(s[-3:])
print('\n')

print('Letter indexing')
print(s['a':'b'])

a    1
f    2
b    3
q    4
c    5
dtype: int64


Forth element
4


Elements 3-5
b    3
q    4
dtype: int64


The last 3 elements
b    3
q    4
c    5
dtype: int64


Letter indexing
a    1
f    2
b    3
dtype: int64

In [12]:
s = pd.Series([1,2,3,4,5],index = (0, 2, 3, 4, 7))

print(s)
print('\n')

print('Forth element')
print(s[2:4])
print('\n')

0    1
2    2
3    3
4    4
7    5
dtype: int64


Forth element
3    3
4    4
dtype: int64

In [13]:
np.random.randn(8, 4)

array([[ 0.37223755,  0.72540685,  0.95799959, -0.25219083],
       [-0.7583205 ,  1.69430925,  1.14925009, -0.70411146],
       [ 1.02330366,  0.89420302,  0.60402102,  0.51016134],
       [-0.22045752,  3.39531019, -0.71777207,  0.08137028],
       [ 0.36859864,  0.24252292, -0.93105262, -0.26328779],
       [ 0.89775817, -0.37350569,  0.62914277, -0.82918395],
       [ 1.15605736,  0.91584571, -0.8622861 , -0.10287796],
       [ 2.30866185,  0.25871694, -0.3825251 ,  2.65906038]])

In [14]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])


#select some rows for specific columns
print(df)
print('\n')
print(df.loc[['a','b'],['A','B']])
print('\n')

          A         B         C         D
a  0.090650  0.082984  0.762402 -0.293268
b  1.490381  0.919827  0.409967  0.171858
c -0.358717  0.336473 -0.084437 -0.606396
d -0.502498 -0.413760  0.139464  1.181834
e  0.639770 -1.651018  0.445659 -1.542850
f -0.744766 -0.668687  0.516605 -1.824053
g -0.245134  0.787570  1.169696 -3.117610
h -1.170122  0.715234 -0.103281  0.643061


          A         B
a  0.090650  0.082984
b  1.490381  0.919827

In [15]:
df['A'] = 10000
df

       A         B         C         D
a  10000  0.082984  0.762402 -0.293268
b  10000  0.919827  0.409967  0.171858
c  10000  0.336473 -0.084437 -0.606396
d  10000 -0.413760  0.139464  1.181834
e  10000 -1.651018  0.445659 -1.542850
f  10000 -0.668687  0.516605 -1.824053
g  10000  0.787570  1.169696 -3.117610
h  10000  0.715234 -0.103281  0.643061

In [16]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])


print(df)
print('\n')
print(df.iloc[0:3,[0,1]])
print('\n')

          A         B         C         D
a -1.064808 -0.511779  2.334979 -0.871996
b  1.072687  1.500769  0.033495  0.430730
c  0.385252  1.727719 -0.434861  2.097847
d  0.274553 -1.638457  2.578361 -2.304635
e  1.043760  1.185390  0.511474  0.199647
f  0.953122 -0.469041 -1.184935  1.482259
g  0.732357  1.228779 -1.289189  0.717773
h -0.273711  0.468158  0.106178  0.413538


          A         B
a -1.064808 -0.511779
b  1.072687  1.500769
c  0.385252  1.727719